.App {
  text-align: center;
  background-color: black;
  width: 100%;
  height: 1000px;
  margin: 0;
  padding: 0;
}

.grad{

  background-color: linear-gradient(#3A1359, #242637, #242637, #242637, #317B4D);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.neon_logo::after {

  width: 300px;
  width: deviceWidth;
  display: block;

}


